body {
    text-align: center; 
    font-family: 'Brush Script MT', cursive;
}

button {
    width: 45%;
}

#myImage {
    height: 250px;
}

#yes {
    background-color:rgb(255, 65, 198);
    color: White;
}